In [40]:
import assets.script as scr

import numpy as np
import pandas as pd
import datetime as dt
import re

from math import trunc
from psycopg2 import sql
from sklearn.linear_model import LinearRegression
from sklearn.naive_bayes import GaussianNB
from pathlib import Path

### Example `script.py` Use

In [41]:
x = [np.random.randn(10) for i in range(100)]
y = np.random.randint(1, 100, 100)

In [42]:
df = pd.DataFrame(x, columns=['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine'])
df = df.join(pd.Series(y, name='target'))

In [43]:
X_train, X_test, y_train, y_test = scr.split_data(df, target='target')

No columns dropped.

Target values: [94 29 78 96 59 49 85 87 83  9 43 95 15 73 22 27  5 70 76 54 36 48 27 73
  1 85 57 97 61 97 14 79 21 42 62 99 38  4 52 73 33 97 96 98 84 14 28 31
 49 75 19 35 34 82 51 71 65 23 14 42 14 24 36 80 36 54  6 54 61 83 95  9
 59 80 85 34  7 37 54 32 15 18 31 73 29  8 96 68 44 49 35 69 36 29 86 75
 63 58  1 36]

Column(s) remaining: Index(['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight',
       'nine', 'target'],
      dtype='object')

Data is unscaled.
training sample size:  80
testing sample size:  20

In [44]:
y_pred, y_prob = scr.get_predictions(GaussianNB(), X_train, y_train, X_test)

## Midterm Project

#### Goals

The goal is to `predict arrival delays` of commercial flights. Often, there isn't much airlines can do to avoid the delays, which are often costly and . It is critical for airlines to estimate flight delays as accurate as possible because the results can be applied to improvements in customer satisfaction and income of airline agencies.

#### SQL Query

In [45]:
scr.sql_read_tables()

0             flights
1        flights_test
2    fuel_comsumption
3         pass_sample
4          passengers
5              sample
6           temptable
7          test_table
dtype: object

In [46]:
table_name = 'passengers'
limit = 200000

query = sql.SQL(
    "SELECT * \
        FROM {table} \
        LIMIT {limit};").format(
        table = sql.Identifier(table_name),
        limit = sql.Literal(limit)
        ,
    )
    
filename = f'{table_name}_{str(limit/1000)}k_sample.csv'

In [47]:
scr.make_csv(query, filename, overwrite=False)

File exists. Returning DataFrame...

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,unique_carrier,airline_id,unique_carrier_name,region,carrier,carrier_name,carrier_group,carrier_group_new,origin_airport_id,origin_city_market_id,origin,origin_city_name,origin_country,origin_country_name,dest_airport_id,dest_city_market_id,dest,dest_city_name,dest_country,dest_country_name,aircraft_group,aircraft_type,aircraft_config,year,month,distance_group,class,data_source
0,15.0,15.0,944625.0,0.0,0.0,432992.0,0.0,812.0,1895.0,1590.0,FX,20107,Federal Express Corporation,D,FX,Federal Express Corporation,3,3,13244,33244,MEM,"Memphis, TN",US,United States,16271,36106,YYZ,"Toronto, Canada",CA,Canada,6,622,2,2019,9,2,G,IU
1,15.0,15.0,52500.0,0.0,0.0,19850.0,0.0,293.0,1650.0,1504.0,FX,20107,Federal Express Corporation,D,FX,Federal Express Corporation,3,3,13342,33342,MKE,"Milwaukee, WI",US,United States,11076,31076,CMX,"Hancock/Houghton, MI",US,United States,4,416,2,2019,9,1,G,DU
2,15.0,15.0,944962.0,0.0,0.0,634021.0,0.0,238.0,925.0,652.0,FX,20107,Federal Express Corporation,D,FX,Federal Express Corporation,3,3,13342,33342,MKE,"Milwaukee, WI",US,United States,12339,32337,IND,"Indianapolis, IN",US,United States,6,622,2,2019,9,1,G,DU
3,15.0,15.0,52500.0,0.0,0.0,20405.0,0.0,206.0,1262.0,1132.0,FX,20107,Federal Express Corporation,D,FX,Federal Express Corporation,3,3,13461,33461,MQY,"Smyrna, TN",US,United States,13244,33244,MEM,"Memphis, TN",US,United States,4,416,2,2019,9,1,G,DU
4,15.0,15.0,943398.0,0.0,0.0,432818.0,0.0,284.0,1021.0,756.0,FX,20107,Federal Express Corporation,D,FX,Federal Express Corporation,3,3,13485,33485,MSN,"Madison, WI",US,United States,12339,32337,IND,"Indianapolis, IN",US,United States,6,622,2,2019,9,1,G,DU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,0.0,5.0,107500.0,0.0,0.0,0.0,0.0,304.0,359.0,268.0,U7,20447,USA Jet Airlines Inc.,D,U7,USA Jet Airlines Inc.,2,2,14730,33044,SDF,"Louisville, KY",US,United States,16091,31295,YIP,"Detroit, MI",US,United States,6,635,2,2018,4,1,P,DU
199996,0.0,2.0,60000.0,0.0,0.0,0.0,0.0,304.0,140.0,107.0,U7,20447,USA Jet Airlines Inc.,D,U7,USA Jet Airlines Inc.,2,2,14730,33044,SDF,"Louisville, KY",US,United States,16091,31295,YIP,"Detroit, MI",US,United States,6,640,2,2018,4,1,P,DU
199997,0.0,1.0,36000.0,0.0,0.0,0.0,0.0,304.0,64.0,55.0,U7,20447,USA Jet Airlines Inc.,D,U7,USA Jet Airlines Inc.,2,2,14730,33044,SDF,"Louisville, KY",US,United States,16091,31295,YIP,"Detroit, MI",US,United States,6,655,2,2018,4,1,P,DU
199998,0.0,5.0,28000.0,0.0,0.0,0.0,0.0,304.0,320.0,270.0,U7,20447,USA Jet Airlines Inc.,D,U7,USA Jet Airlines Inc.,2,2,14730,33044,SDF,"Louisville, KY",US,United States,16091,31295,YIP,"Detroit, MI",US,United States,6,681,2,2018,4,1,P,DU
199999,0.0,1.0,21500.0,0.0,0.0,7601.0,0.0,478.0,108.0,97.0,U7,20447,USA Jet Airlines Inc.,D,U7,USA Jet Airlines Inc.,2,2,14814,30476,SHV,"Shreveport, LA",US,United States,13061,33038,LRD,"Laredo, TX",US,United States,6,635,2,2018,4,1,P,DU

# TABLES

### Table `flights`

In [48]:
table_name = 'flights'
limit = 1000000
filename = f'{table_name}_{str(limit/1000)}k_sample.csv'

df_flights = pd.read_csv(Path('./data') / filename)

In [49]:
print(df_flights.columns.tolist())
print(df_flights.shape)

['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier', 'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num', 'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name', 'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time', 'dep_time', 'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled', 'cancellation_code', 'diverted', 'dup', 'crs_elapsed_time', 'actual_elapsed_time', 'air_time', 'flights', 'distance', 'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay', 'first_dep_time', 'total_add_gtime', 'longest_add_gtime', 'no_name']
(1000000, 42)

- **`fl_date`**: Flight Date (yyyy-mm-dd)
- **`mkt_unique_carrier`**: Unique Marketing Carrier Code. When the same code has been used by multiple carriers, a numeric suffix is used for earlier users, for example, PA, PA(1), PA(2). Use this field for analysis across a range of years.
- **`branded_code_share`**: Reporting Carrier Operated or Branded Code Share Partners
- **`mkt_carrier`**: Code assigned by IATA and commonly used to identify a carrier. As the same code may have been assigned to different carriers over time, the code is not always unique. For analysis, use the Unique Carrier Code.
- **`mkt_carrier_fl_num`**: Flight Number
- **`op_unique_carrier`**: Unique Scheduled Operating Carrier Code. When the same code has been used by multiple carriers, a numeric suffix is used for earlier users,for example, PA, PA(1), PA(2). Use this field for analysis across a range of years.
- **`tail_num`**: Tail Number
- **`op_carrier_fl_num`**: Flight Number
- **`origin_airport_id`**: Origin Airport, Airport ID. An identification number assigned by US DOT to identify a unique airport. Use this field for airport analysis across a range of years because an airport can change its airport code and airport codes can be reused.
- **`origin`**: Origin Airport
- **`origin_city_name`**: Origin Airport, City Name
- **`dest_airport_id`**: Destination Airport, Airport ID. An identification number assigned by US DOT to identify a unique airport. Use this field for airport analysis across a range of years because an airport can change its airport code and airport codes can be reused.
- **`dest`**: Destination Airport
- **`dest_city_name`**: Destination Airport, City Name
- **`crs_dep_time`**: CRS Departure Time (local time: hhmm)
- **`dep_time`**: Actual Departure Time (local time: hhmm)
- **`dep_delay`**: Difference in minutes between scheduled and actual departure time. Early departures show negative numbers.	
- **`taxi_out`**: Taxi Out Time, in Minutes
- **`wheels_off`**: Wheels Off Time (local time: hhmm)
- **`wheels_on`**: Wheels On Time (local time: hhmm)
- **`taxi_in`**: 	Taxi In Time, in Minutes
- **`crs_arr_time`**: CRS Arrival Time (local time: hhmm)
- **`arr_time`**: Actual Arrival Time (local time: hhmm)
- **`arr_delay`**: Difference in minutes between scheduled and actual arrival time. Early arrivals show negative numbers.
- **`cancelled`**: Cancelled Flight Indicator (1=Yes)
- **`cancellation_code`**: Specifies The Reason For Cancellation
- **`diverted`**: Diverted Flight Indicator (1=Yes)
- **`dup`**: Duplicate flag marked Y if the flight is swapped based on Form-3A data
- **`crs_elapsed_time`**: CRS Elapsed Time of Flight, in Minutes
- **`actual_elapsed_time`**: Elapsed Time of Flight, in Minutes
- **`air_time`**: Flight Time, in Minutes
- **`flights`**: Number of Flights
- **`distance`**: Distance between airports (miles)
- **`carrier_delay`**: Carrier Delay, in Minutes
- **`weather_delay`**: Weather Delay, in Minutes
- **`nas_delay`**: National Air System Delay, in Minutes
- **`security_delay`**: Security Delay, in Minutes
- **`late_aircraft_delay`**: Late Aircraft Delay, in Minutes
- **`first_dep_time`**: First Gate Departure Time at Origin Airport
- **`total_add_gtime`**: Total Ground Time Away from Gate for Gate Return or Cancelled Flight
- **`longest_add_gtime`**: Longest Time Away from Gate for Gate Return or Cancelled Flight

### Table `passengers`

In [50]:
table_name = 'passengers'
limit = 1000000
filename = f'{table_name}_{str(limit/1000)}k_sample.csv'

df_passengers = pd.read_csv(Path('./data') / filename)

In [51]:
print(df_passengers.columns.tolist())
print(df_passengers.shape)

['departures_scheduled', 'departures_performed', 'payload', 'seats', 'passengers', 'freight', 'mail', 'distance', 'ramp_to_ramp', 'air_time', 'unique_carrier', 'airline_id', 'unique_carrier_name', 'region', 'carrier', 'carrier_name', 'carrier_group', 'carrier_group_new', 'origin_airport_id', 'origin_city_market_id', 'origin', 'origin_city_name', 'origin_country', 'origin_country_name', 'dest_airport_id', 'dest_city_market_id', 'dest', 'dest_city_name', 'dest_country', 'dest_country_name', 'aircraft_group', 'aircraft_type', 'aircraft_config', 'year', 'month', 'distance_group', 'class', 'data_source']
(1000000, 38)

- **`departures_scheduled`**: Departures Scheduled
- **`departures_performed`**: Departures Performed
- **`payload`**: Available Payload (pounds)
  - **`seats`**: Available Seats
- **`passengers`**: Non-Stop Segment Passengers Transported
  - **`freight`**: Non-Stop Segment Freight Transported (pounds)
  - **`mail`**: Non-Stop Segment Mail Transported (pounds)
- **`distance`**: Distance between airports (miles)
- **`ramp_to_ramp`**: Ramp to Ramp Time (minutes)
  - **`air_time`**: Airborne Time (minutes)
- **`unique_carrier`**: Unique Carrier Code. When the same code has been used by multiple carriers, a numeric suffix is used for earlier users, for example, PA, PA(1), PA(2). Use this field for analysis across a range of years.
- **`airline_id`**: An identification number assigned by US DOT to identify a unique airline (carrier). A unique airline (carrier) is defined as one holding and reporting under the same DOT certificate regardless of its Code, Name, or holding company/corporation.
- **`unique_carrier_name`**: Unique Carrier Name. When the same name has been used by multiple carriers, a numeric suffix is used for earlier users, for example, Air Caribbean, Air Caribbean (1).
- **`region`**: Carrier's Operation Region. Carriers Report Data by Operation Region
- **`carrier`**: Code assigned by IATA and commonly used to identify a carrier. As the same code may have been assigned to different carriers over time, the code is not always unique. For analysis, use the Unique Carrier Code.
- **`carrier_name`**: Carrier Name
- **`carrier_group`**: Carrier Group Code
- **`carrier_group_new`**: Carrier Group New
- **`origin_airport_id`**: Origin Airport, Airport ID. An identification number assigned by US DOT to identify a unique airport. Use this field for airport analysis across a range of years because an airport can change its airport code and airport codes can be reused.
- **`origin_city_market_id`**: Origin Airport, City Market ID. City Market ID is an identification number assigned by US DOT to identify a city market. Use this field to consolidate airports serving the same city market.	
- **`origin`**: Origin Airport
- **`origin_city_name`**: Origin City
- **`origin_country`**: Origin Country Code
- **`origin_country_name`**: Origin Country
- **`dest_airport_id`**: Destination Airport, Airport ID. An identification number assigned by US DOT to identify a unique airport. Use this field for airport analysis across a range of years because an airport can change its airport code and airport codes can be reused.
- **`dest_city_market_id`**: Destination Airport, City Market ID. City Market ID is an identification number assigned by US DOT to identify a city market. Use this field to consolidate airports serving the same city market.
- **`dest`**: Destination Airport
- **`dest_city_name`**: Destination City
- **`dest_country`**: Destination Country Code
- **`dest_country_name`**: Destination Country
- **`aircraft_group`**: Aircraft Group
- **`aircraft_type`**: Aircraft Type
- **`aircraft_config`**: Aircraft Configuration
- **`month`**: Month
- **`year`**: Year
- **`distance_group`**: Distance Intervals, every 500 Miles, for Flight Segment
- **`class`**: Service Class

### Table `pass_sample` (`passengers` samples)

In [52]:
table_name = 'pass_sample'
limit = 1000000
filename = f'{table_name}_{str(limit/1000)}k_sample.csv'

df_pass_sample = pd.read_csv(Path('./data') / filename)

In [53]:
print(df_pass_sample.columns.tolist())
print(df_pass_sample.shape)
print(df_passengers.shape)

['departures_scheduled', 'departures_performed', 'payload', 'seats', 'passengers', 'freight', 'mail', 'distance', 'ramp_to_ramp', 'air_time', 'unique_carrier', 'airline_id', 'unique_carrier_name', 'region', 'carrier', 'carrier_name', 'carrier_group', 'carrier_group_new', 'origin_airport_id', 'origin_city_market_id', 'origin', 'origin_city_name', 'origin_country', 'origin_country_name', 'dest_airport_id', 'dest_city_market_id', 'dest', 'dest_city_name', 'dest_country', 'dest_country_name', 'aircraft_group', 'aircraft_type', 'aircraft_config', 'year', 'month', 'distance_group', 'class', 'data_source']
(156448, 38)
(1000000, 38)

### Table `fuel_comsumption`

In [54]:
table_name = 'fuel_comsumption'
limit = 1000000
filename = f'{table_name}_{str(limit/1000)}k_sample.csv'

df_fuel_comsumption = pd.read_csv(Path('./data') / filename)

In [55]:
print(df_fuel_comsumption.columns.tolist())
print(df_fuel_comsumption.shape)

['month', 'airline_id', 'unique_carrier', 'carrier', 'carrier_name', 'carrier_group_new', 'sdomt_gallons', 'satl_gallons', 'spac_gallons', 'slat_gallons', 'sint_gallons', 'ts_gallons', 'tdomt_gallons', 'tint_gallons', 'total_gallons', 'sdomt_cost', 'satl_cost', 'spac_cost', 'slat_cost', 'sint_cost', 'ts_cost', 'tdomt_cost', 'tint_cost', 'total_cost', 'year']
(3035, 25)

- **`month`**: Month
- **`airline_id`**: An identification number assigned by US DOT to identify a unique airline (carrier). A unique airline (carrier) is defined as one holding and reporting under the same DOT certificate regardless of its Code, Name, or holding company/corporation.
- **`unique_carrier`**: Unique Carrier Code. When the same code has been used by multiple carriers, a numeric suffix is used for earlier users, for example, PA, PA(1), PA(2). Use this field for analysis across a range of years.
- **`carrier`**: Code assigned by IATA and commonly used to identify a carrier. As the same code may have been assigned to different carriers over time, the code is not always unique. For analysis, use the Unique Carrier Code.
- **`carrier_name`**: Carrier Name
- **`carrier_group_new`**: Carrier Group New
- **`sdomt_gallons`**: Total Scheduled Domestic, Fuel Consumption (Gallons)
- **`satl_gallons`**: Scheduled Service International Atlantic - Fuel Consumption (Gallons)
- **`spac_gallons`**: Scheduled Service International Pacific - Fuel Consumption (Gallons)
- **`slat_gallons`**: Scheduled Service International Latin America - Fuel Consumption (Gallons)
- **`sint_gallons`**: Scheduled Service International Subtotal - Fuel Consumption (Gallons)
- **`ts_gallons`**: Total Scheduled Service - Fuel Consumption (Gallons)
- **`tdomt_gallons`**: Total Domestic - Fuel Consumption (Gallons)
- **`tint_gallons`**: Total International - Fuel Consumption (Gallons)
- **`total_gallons`**: Grand Total - Fuel Consumption (Gallons)
- **`sdomt_cost`**: Total Scheduled Domestic, Fuel Cost (Dollars)
- **`satl_cost`**: Scheduled Service International Atlantic - Fuel Cost (Dollars)
- **`spac_cost`**: Scheduled Service International Pacific - Fuel Cost (Dollars)
- **`slat_cost`**: Scheduled Service International Latin America - Fuel Cost (Dollars)
- **`sint_cost`**: Scheduled Service International Subtotal - Fuel Cost (Dollars)
- **`ts_cost`**: Total Scheduled Service - Fuel Cost (Dollars)
- **`tdomt_cost`**: Total Domestic - Fuel Cost (Dollars)
- **`tint_cost`**: Total International - Fuel Cost (Dollars)
- **`total_cost`**: Grand Total - Fuel Cost (Dollars)
- **`year`**: year

### Table `flights_test` (`flights` sample for prediction - January 2022)

In [56]:
table_name = 'flights_test'
limit = 1000000
filename = f'{table_name}_{str(limit/1000)}k_sample.csv'

df_flights_test = pd.read_csv(Path('./data') / filename)

In [57]:
print(df_flights_test.columns.tolist())
print(df_flights_test.shape)
print(df_flights.shape)
df_flights_test.tail(10)

['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier', 'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num', 'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name', 'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time', 'crs_arr_time', 'dup', 'crs_elapsed_time', 'flights', 'distance']
(660556, 20)
(1000000, 42)

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance
660546,2020-01-31,DL,DL_CODESHARE,DL,4950,9E,N228PQ,4950,10397,ATL,"Atlanta, GA",15323,TRI,"Bristol/Johnson City/Kingsport, TN",2225,2331,N,66,1,227
660547,2020-01-31,DL,DL_CODESHARE,DL,4952,9E,N600LR,4952,12953,LGA,"New York, NY",13342,MKE,"Milwaukee, WI",1735,1921,N,166,1,738
660548,2020-01-31,DL,DL_CODESHARE,DL,4953,9E,N655CA,4953,12953,LGA,"New York, NY",14524,RIC,"Richmond, VA",1642,1825,N,103,1,292
660549,2020-01-31,DL,DL_CODESHARE,DL,4953,9E,N655CA,4953,14524,RIC,"Richmond, VA",12953,LGA,"New York, NY",1900,2033,N,93,1,292
660550,2020-01-31,DL,DL_CODESHARE,DL,4954,9E,N926XJ,4954,11193,CVG,"Cincinnati, OH",11278,DCA,"Washington, DC",1655,1824,N,89,1,411
660551,2020-01-31,DL,DL_CODESHARE,DL,4954,9E,N926XJ,4954,11278,DCA,"Washington, DC",11193,CVG,"Cincinnati, OH",1859,2041,N,102,1,411
660552,2020-01-31,DL,DL_CODESHARE,DL,4955,9E,N309PQ,4955,11278,DCA,"Washington, DC",11193,CVG,"Cincinnati, OH",1515,1702,N,107,1,411
660553,2020-01-31,DL,DL_CODESHARE,DL,4956,9E,N324PQ,4956,12478,JFK,"New York, NY",10785,BTV,"Burlington, VT",2205,2337,N,92,1,266
660554,2020-01-31,DL,DL_CODESHARE,DL,4957,9E,N132EV,4957,13930,ORD,"Chicago, IL",12478,JFK,"New York, NY",1035,1356,N,141,1,740
660555,2020-01-31,DL,DL_CODESHARE,DL,4958,9E,N390CA,4958,12953,LGA,"New York, NY",11057,CLT,"Charlotte, NC",2005,2222,N,137,1,544

### Table `sample` (`flights` samples)

In [58]:
table_name = 'sample'
limit = 1000000
filename = f'{table_name}_{str(limit/1000)}k_sample.csv'

df_sample = pd.read_csv(Path('./data') / filename)

/var/folders/xm/yv4_9lnx4vxb435678j65d140000gn/T/ipykernel_65243/2978874520.py:5: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_sample = pd.read_csv(Path('./data') / filename)

In [59]:
print(df_sample.columns.tolist())
print(df_sample.shape)
print(df_flights.shape)

['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier', 'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num', 'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name', 'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time', 'dep_time', 'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled', 'cancellation_code', 'diverted', 'dup', 'crs_elapsed_time', 'actual_elapsed_time', 'air_time', 'flights', 'distance', 'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay', 'first_dep_time', 'total_add_gtime', 'longest_add_gtime', 'no_name']
(1000000, 42)
(1000000, 42)


This table consists of subset of columns from table flights. It represents flights from January 2020 which will be used for evaluation. Therefore, we are missing some features that we are not suppossed to know before the flight lands.

- **`fl_date`**: Flight Date (yyyy-mm-dd)
- **`mkt_unique_carrier`**: Unique Marketing Carrier Code. When the same code has been used by multiple carriers, a numeric suffix is used for earlier users, for example, PA, PA(1), PA(2). Use this field for analysis across a range of years.
- **`branded_code_share`**: Reporting Carrier Operated or Branded Code Share Partners
- **`mkt_carrier`**: Code assigned by IATA and commonly used to identify a carrier. As the same code may have been assigned to different carriers over time, the code is not always unique. For analysis, use the Unique Carrier Code.
- **`mkt_carrier_fl_num`**: Flight Number
- **`op_unique_carrier`**: Unique Scheduled Operating Carrier Code. When the same code has been used by multiple carriers, a numeric suffix is used for earlier users,for example, PA, PA(1), PA(2). Use this field for analysis across a range of years.
- **`tail_num`**: Tail Number
- **`op_carrier_fl_num`**: Flight Number
- **`origin_airport_id`**: Origin Airport, Airport ID. An identification number assigned by US DOT to identify a unique airport. Use this field for airport analysis across a range of years because an airport can change its airport code and airport codes can be reused.
- **`origin`**: Origin Airport
- **`origin_city_name`**: Origin Airport, City Name
- **`dest_airport_id`**: Destination Airport, Airport ID. An identification number assigned by US DOT to identify a unique airport. Use this field for airport analysis across a range of years because an airport can change its airport code and airport codes can be reused.
- **`dest`**: Destination Airport
- **`dest_city_name`**: Destination Airport, City Name
- **`crs_dep_time`**: CRS Departure Time (local time: hhmm)
- **`crs_arr_time`**: CRS Arrival Time (local time: hhmm)
- **`dup`**: Duplicate flag marked Y if the flight is swapped based on Form-3A data
- **`crs_elapsed_time`**: CRS Elapsed Time of Flight, in Minutes
- **`flights`**: Number of Flights
- **`distance`**: Distance between airports (miles)

### Table `temptable` (`flights` but different samples)

In [60]:
table_name = 'temptable'
limit = 1000000
filename = f'{table_name}_{str(limit/1000)}k_sample.csv'

df_temptable = pd.read_csv(Path('./data') / filename)

/var/folders/xm/yv4_9lnx4vxb435678j65d140000gn/T/ipykernel_65243/1445488352.py:5: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temptable = pd.read_csv(Path('./data') / filename)

In [61]:
print(df_temptable.columns.tolist())
print(df_temptable.shape)
print(df_flights.shape)
df_temptable.head(10)

['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier', 'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num', 'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name', 'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time', 'dep_time', 'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled', 'cancellation_code', 'diverted', 'dup', 'crs_elapsed_time', 'actual_elapsed_time', 'air_time', 'flights', 'distance', 'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay', 'first_dep_time', 'total_add_gtime', 'longest_add_gtime', 'no_name']
(785850, 42)
(1000000, 42)

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2019-12-19,AA,AA,AA,885,AA,N961UW,885,10397,ATL,"Atlanta, GA",12953,LGA,"New York, NY",1536,1529.0,-7.0,30.0,1559.0,1743.0,5.0,1744,1748.0,4.0,0.0,NaN,0.0,N,128.0,139.0,104.0,1.0,762.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-12-19,AA,AA,AA,890,AA,N317PG,890,10397,ATL,"Atlanta, GA",12892,LAX,"Los Angeles, CA",1819,1834.0,15.0,11.0,1845.0,2159.0,18.0,2040,2217.0,NaN,0.0,NaN,1.0,N,321.0,NaN,NaN,1.0,1947.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-12-19,AA,AA,AA,1309,AA,N956AN,1309,10397,ATL,"Atlanta, GA",11298,DFW,"Dallas/Fort Worth, TX",1412,1422.0,10.0,15.0,1437.0,1535.0,12.0,1545,1547.0,2.0,0.0,NaN,0.0,N,153.0,145.0,118.0,1.0,731.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-12-19,AA,AA,AA,1365,AA,N828AW,1365,10397,ATL,"Atlanta, GA",11298,DFW,"Dallas/Fort Worth, TX",1224,1226.0,2.0,11.0,1237.0,1335.0,14.0,1355,1349.0,-6.0,0.0,NaN,0.0,N,151.0,143.0,118.0,1.0,731.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-12-19,AA,AA,AA,1409,AA,N979NN,1409,10397,ATL,"Atlanta, GA",12892,LAX,"Los Angeles, CA",1608,1612.0,4.0,9.0,1621.0,1748.0,5.0,1824,1753.0,-31.0,0.0,NaN,0.0,N,316.0,281.0,267.0,1.0,1947.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2019-12-19,DL,DL_CODESHARE,DL,5435,9E,N922XJ,5435,10397,ATL,"Atlanta, GA",12197,HPN,"White Plains, NY",730,725.0,-5.0,14.0,739.0,927.0,6.0,943,933.0,-10.0,0.0,NaN,0.0,N,133.0,128.0,108.0,1.0,780.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2019-12-19,DL,DL_CODESHARE,DL,5452,9E,N914XJ,5452,10397,ATL,"Atlanta, GA",10408,ATW,"Appleton, WI",1501,1456.0,-5.0,11.0,1507.0,1553.0,7.0,1620,1600.0,-20.0,0.0,NaN,0.0,N,139.0,124.0,106.0,1.0,765.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2019-12-19,DL,DL_CODESHARE,DL,5502,9E,N368CA,5502,10397,ATL,"Atlanta, GA",11003,CID,"Cedar Rapids/Iowa City, IA",915,905.0,-10.0,18.0,923.0,1005.0,5.0,1033,1010.0,-23.0,0.0,NaN,0.0,N,138.0,125.0,102.0,1.0,694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2019-12-19,DL,DL_CODESHARE,DL,5514,9E,N295PQ,5514,10397,ATL,"Atlanta, GA",14814,SHV,"Shreveport, LA",1953,1949.0,-4.0,10.0,1959.0,2029.0,5.0,2058,2034.0,-24.0,0.0,NaN,0.0,N,125.0,105.0,90.0,1.0,551.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2019-12-19,DL,DL_CODESHARE,DL,5015,9E,N331PQ,5015,10397,ATL,"Atlanta, GA",15412,TYS,"Knoxville, TN",1738,1806.0,28.0,13.0,1819.0,1849.0,3.0,1837,1852.0,15.0,0.0,NaN,0.0,N,59.0,46.0,30.0,1.0,152.0,15.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

### Table `test_table` (no data)

In [62]:
table_name = 'test_table'
limit = 1000000
filename = f'{table_name}_{str(limit/1000)}k_sample.csv'

df_test_table = pd.read_csv(Path('./data') / filename)

In [63]:
print(df_test_table.columns.tolist())
print(df_test_table.shape)

['testid']
(0, 1)

# Predict Flight Delay (Target: `arr_delay` in `flights` table)

In [64]:
# consolidate classes to peasant, middle, rich
for i,cls in df_passengers[df_passengers['class'] == 'L']['class'].iteritems():
    df_passengers.loc[i, 'class'] = 'G'

df_passengers['class'].unique()

array(['G', 'P', 'F'], dtype=object)

In [65]:
# take 1000 random samples from each month and return to dataframe
# not overwriting will still return the dataframe
df_flights_by_month = pd.DataFrame()

for i in range(0,12):
    df_flights_by_month = pd.concat(
        [df_flights_by_month,
         scr.sql_search_date(table='flights', y=2019, m=i+1, overwrite=False).sort_values(by='fl_date')])
    
# reduce columns to columns in `flight_test``
# print(df_flights_by_month.shape)
# df_flights_by_month = df_flights_by_month[df_flights_test.columns]
# print(df_flights_by_month.shape)

File exists. Returning DataFrame...
File exists. Returning DataFrame...
File exists. Returning DataFrame...
File exists. Returning DataFrame...
File exists. Returning DataFrame...
File exists. Returning DataFrame...
File exists. Returning DataFrame...
File exists. Returning DataFrame...
File exists. Returning DataFrame...
File exists. Returning DataFrame...
File exists. Returning DataFrame...
File exists. Returning DataFrame...

In [66]:
# filter out 'cancelled' flights
df_flights_by_month = df_flights_by_month[df_flights_by_month['cancelled'] != 1]

In [67]:
# same columns between df_flights and df_passengers
print(np.intersect1d(df_flights_by_month.columns, df_passengers.columns))

['air_time' 'dest' 'dest_airport_id' 'dest_city_name' 'distance' 'origin'
 'origin_airport_id' 'origin_city_name']

In [68]:
# same columns between df_passengers and df_compsumption
print(np.intersect1d(df_passengers.columns, df_fuel_comsumption.columns))

['airline_id' 'carrier' 'carrier_group_new' 'carrier_name' 'month'
 'unique_carrier' 'year']

In [69]:
# same columns between df_flights and df_comsumption
print(np.intersect1d(df_flights_test.columns, df_passengers.columns))

['dest' 'dest_airport_id' 'dest_city_name' 'distance' 'origin'
 'origin_airport_id' 'origin_city_name']

In [70]:
for column in df_flights_by_month.columns:
    if re.search(r'delay', column):
        print(column)

dep_delay
arr_delay
carrier_delay
weather_delay
nas_delay
security_delay
late_aircraft_delay

In [71]:
# drop any delay related columns
df_flights_by_month =df_flights_by_month.drop([
    'cancellation_code',
    'cancelled',
    'dep_time', 
    'crs_dep_time', 
    'arr_time', 
    'crs_arr_time', 
    'actual_elapsed_time', 
    'crs_elapsed_time'], axis = 1)

In [72]:
df_flights_by_month = df_flights_by_month.reset_index(drop=True)

### Get `flights` table by month with random days

In [73]:
# merge tables using month and year

# make month column
for i,date in enumerate(df_flights_by_month['fl_date']):
    df_flights_by_month.loc[i, 'month'] = dt.datetime.strptime(df_flights_by_month.loc[i, 'fl_date'], '%Y-%m-%d').month
    df_flights_by_month.loc[i, 'year'] = dt.datetime.strptime(df_flights_by_month.loc[i, 'fl_date'], '%Y-%m-%d').year

In [74]:
df_flights_by_month['month'] = df_flights_by_month['month'].astype(int)
df_flights_by_month['year'] = df_flights_by_month['year'].astype(int)

In [75]:
df_flights_by_month.sort_values(by='fl_date')

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,arr_delay,diverted,dup,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name,month,year
0,2019-01-01,G4,G4,G4,2176,G4,271NV,2176,14761,SFB,"Sanford, FL",11721,FNT,"Flint, MI",23.0,14.0,1221.0,1431.0,7.0,24.0,0.0,N,130.0,1.0,988.0,0.0,0.0,24.0,0.0,0.0,NaN,NaN,NaN,NaN,1,2019
31,2019-01-01,WN,WN,WN,864,WN,N553WN,864,14893,SMF,"Sacramento, CA",12892,LAX,"Los Angeles, CA",4.0,13.0,752.0,849.0,6.0,-15.0,0.0,N,57.0,1.0,373.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2019
30,2019-01-01,AA,AA,AA,1067,AA,N141NN,1067,11292,DEN,"Denver, CO",11298,DFW,"Dallas/Fort Worth, TX",9.0,46.0,655.0,929.0,13.0,28.0,0.0,N,94.0,1.0,641.0,9.0,0.0,19.0,0.0,0.0,NaN,NaN,NaN,NaN,1,2019
29,2019-01-01,UA,UA,UA,1155,UA,N78501,1155,13930,ORD,"Chicago, IL",10397,ATL,"Atlanta, GA",-2.0,16.0,614.0,845.0,5.0,-9.0,0.0,N,91.0,1.0,606.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2019
28,2019-01-01,AA,AA,AA,1260,AA,N996AN,1260,14771,SFO,"San Francisco, CA",11298,DFW,"Dallas/Fort Worth, TX",-4.0,15.0,1208.0,1714.0,12.0,-3.0,0.0,N,186.0,1.0,1464.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11761,2019-12-31,AA,AA,AA,2910,AA,N827AW,2910,11298,DFW,"Dallas/Fort Worth, TX",15919,XNA,"Fayetteville, AR",30.0,14.0,1322.0,1402.0,11.0,26.0,0.0,N,40.0,1.0,280.0,11.0,0.0,0.0,0.0,15.0,NaN,NaN,NaN,NaN,12,2019
11760,2019-12-31,DL,DL,DL,954,DL,N668DN,954,12892,LAX,"Los Angeles, CA",10397,ATL,"Atlanta, GA",-4.0,19.0,650.0,1327.0,5.0,-11.0,0.0,N,217.0,1.0,1947.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,2019
11787,2019-12-31,DL,DL,DL,1824,DL,N862DN,1824,14057,PDX,"Portland, OR",14869,SLC,"Salt Lake City, UT",-1.0,15.0,614.0,840.0,5.0,-10.0,0.0,N,86.0,1.0,630.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,2019
11773,2019-12-31,WN,WN,WN,4291,WN,N792SW,4291,11193,CVG,"Cincinnati, OH",13232,MDW,"Chicago, IL",0.0,9.0,1104.0,1052.0,5.0,-13.0,0.0,N,48.0,1.0,249.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,2019
11788,2019-12-31,AA,AA_CODESHARE,AA,3654,MQ,N264NN,3654,11637,FAR,"Fargo, ND",13930,ORD,"Chicago, IL",2.0,53.0,613.0,736.0,17.0,27.0,0.0,N,83.0,1.0,557.0,0.0,2.0,25.0,0.0,0.0,NaN,NaN,NaN,NaN,12,2019

In [76]:
# same columns between df_flights and df_passengers
merge_on = list(np.intersect1d(df_flights_by_month.columns, df_passengers.columns))
merge_on

['air_time',
 'dest',
 'dest_airport_id',
 'dest_city_name',
 'distance',
 'month',
 'origin',
 'origin_airport_id',
 'origin_city_name',
 'year']

In [77]:
df_flights_pass = pd.merge(
    df_flights_by_month,
    df_passengers[[
        'departures_performed',
        'seats',
        'passengers',
        'freight',
        'payload',
        'air_time',
        'airline_id',
        'carrier',
        'origin',
        'dest',
        'distance',
        'aircraft_group',
        'aircraft_type',
        'aircraft_config',
        'class'
        ]])

In [78]:
df_flights_pass_fuel = pd.merge(
    df_flights_pass, df_fuel_comsumption[[
        'month',
        'airline_id',
        'carrier',
        'carrier_name',
        'carrier_group_new',
        'total_gallons',
        'total_cost',
        'year']])

In [79]:
# cleanup
# df_flights_pass_fuel.sort_values(by='fl_date').dropna(inplace=True)

### Get dummy values

In [80]:
df_flights_pass_fuel = pd.get_dummies(df_flights_pass_fuel, drop_first=True, columns=['class', 'aircraft_group', 'aircraft_type', 'aircraft_config', 'carrier_group_new', 'mkt_unique_carrier'], dummy_na=True)

### Get weather data and incorporate into existing DataFrame

In [81]:
import requests as req
from calendar import Calendar

df_weather = pd.read_csv(Path('./data') / 'weather.csv')

In [82]:
base_url = 'https://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=5964df60e1c04a11883230245221204&q&format=json'

# locations
locations = df_flights['origin_city_name'].unique()

# params
dates = [
    '2019-01-01',
    '2019-02-01',
    '2019-03-01',
    '2019-04-01',
    '2019-05-01',
    '2019-06-01',
    '2019-07-01',
    '2019-08-01',
    '2019-09-01',
    '2019-10-01',
    '2019-11-01',
    '2019-12-01']
enddates = [
    '2019-01-31',
    '2019-02-28',
    '2019-03-31',
    '2019-04-30',
    '2019-05-31',
    '2019-06-30',
    '2019-07-31',
    '2019-08-31',
    '2019-09-30',
    '2019-10-31',
    '2019-11-30',
    '2019-12-31']

In [83]:
base_url = 'https://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=5964df60e1c04a11883230245221204&q&format=json'

# locations
locations = df_flights['origin_city_name'].unique()

# params
dates = [
    '2020-01-01',]
enddates = [
    '2020-01-31',]

In [84]:
scr.make_csv()

TypeError: make_csv() missing 2 required positional arguments: 'query' and 'filename'

In [ ]:
weather_conditions = pd.read_csv(Path('./data') / 'weather_test.csv', usecols=[0,1,2], sep=',')

In [ ]:
weather_conditions.drop_duplicates(inplace=True)
weather_conditions.sort_values(by='overhead_code', inplace=True)

In [ ]:
weather_conditions

# rain or like weather = > 263
# sunny = 113
# cloudy = 116, 119, 122
# snow = 227, 230

,overhead_code,daycondition,NightCondition
0,113,Sunny,Clear
40,116,Partly cloudy,Partly cloudy
80,119,Cloudy,Cloudy
120,122,Overcast,Overcast
160,143,Mist,Mist
200,176,Patchy rain possible,Patchy rain possible
240,179,Patchy snow possible,Patchy snow possible
280,182,Patchy sleet possible,Patchy sleet possible
320,185,Patchy freezing drizzle possible,Patchy freezing drizzle possible
360,200,Thundery outbreaks possible,Thundery outbreaks possible
400,227,Blowing snow,Blowing snow
440,230,Blizzard,Blizzard
480,248,Fog,Fog
520,260,Freezing fog,Freezing fog
560,263,Patchy light drizzle,Patchy light drizzle
600,266,Light drizzle,Light drizzle
640,281,Freezing drizzle,Freezing drizzle
680,284,Heavy freezing drizzle,Heavy freezing drizzle
720,293,Patchy light rain,Patchy light rain
760,296,Light rain,Light rain
800,299,Moderate rain at times,Moderate rain at times
840,302,Moderate rain,Moderate rain
880,305,Heavy rain at times,Heavy rain at times
920,308,Heavy rain,Heavy rain
960,311,Light freezing rain,Light freezing rain

In [ ]:
import requests as req
weather_loc = {}

# for each location, save monthly weather
for location in locations:
    
    weather_req = []
    
    for i in range(0,1):
        
        # payload using params
        payload = dict(
            date=dates[i],
            enddate=enddates[i],
            q=location)
        
        weather_req.append(req.get(url=base_url, params=payload).json())
    
    weather_loc[location] = weather_req

In [ ]:
from calendar import Calendar
cal = Calendar()
df_weather = pd.DataFrame(columns=['location', 'date', 'time', 'tempC', 'condition'])
df_placeholder = pd.DataFrame(columns=['location', 'date', 'time', 'tempC', 'condition'])
df_dict = {}

for location in locations:
    
    for m in range(0,1):
        for i,d in enumerate([x for x in cal.itermonthdates(2020, m+1) if x.month == m+1]):
            
            for j in range(len(weather_loc[location][m]['data']['weather'][i]['hourly'])):
                df_placeholder.loc[j+1, 'location'] = location
                df_placeholder.loc[j+1, 'date'] = d
                df_placeholder.loc[j+1, 'time'] = weather_loc[location][m]['data']['weather'][i]['hourly'][j]['time']
                df_placeholder.loc[j+1, 'tempC'] = int(weather_loc[location][m]['data']['weather'][i]['hourly'][j]['tempC'])
                df_placeholder.loc[j+1, 'condition'] = int(weather_loc[location][m]['data']['weather'][i]['hourly'][j]['weatherCode'])
            
            df_weather = pd.concat([df_weather, df_placeholder], ignore_index=True, axis=0)

In [ ]:
# df_weather = pd.read_csv('./data/weather_locations.csv')

In [ ]:
df_weather.to_csv('./data/weather_test.csv')

In [ ]:
df_weather_copy = df_weather.copy()

In [ ]:
# add 6 hours to make it easier to separate into night/day
df_weather_copy['time'] = [time+600 for time in df_weather['time'].astype(int)]
df_weather_copy['tempC'] = [temp for temp in df_weather['tempC'].astype(int)]
df_weather_copy['condition'] = [con for con in df_weather['condition'].astype(int)]

In [ ]:
daytime = []

for i,time in df_weather_copy['time'].iteritems():
    
    # code the time to 24 hours
    if time >= 2400:
        df_weather_copy.loc[i, 'time'] = time - 2400
    
    # convert 
    if df_weather_copy.loc[i, 'time'] >= 1200:
        daytime.append(0) # day
    else:
        daytime.append(1) # night

df_weather_copy = df_weather_copy.join(pd.Series(daytime, name='day/night'))

In [ ]:
# rain or like weather = > 263
# sunny = 113
# cloudy = 116, 119, 122
# snow = 227, 230

df_weather_copy = df_weather_copy.drop(['time'], axis=1).groupby(['location', 'date', 'day/night'])['condition'].aggregate('median')

In [ ]:
df_weather_copy = df_weather_copy.reset_index()

In [ ]:
conditions = []

for condition in df_weather_copy['condition']:
    if condition > 250:
        conditions.append('rain')
    elif condition > 200 and condition <= 250:
        conditions.append('snow')
    elif condition < 115:
        conditions.append('sunny')
    else:
        conditions.append('cloudy')

In [ ]:
df_weather_copy = df_weather_copy.join(pd.Series(conditions, name='cond_desc'))

In [ ]:
df_weather_copy

            location        date  day/night  condition cond_desc
0       Aberdeen, SD  2019-01-01          0      116.0    cloudy
1       Aberdeen, SD  2019-01-01          1      117.5    cloudy
2       Aberdeen, SD  2019-01-02          0      194.0    cloudy
3       Aberdeen, SD  2019-01-02          1      194.0    cloudy
4       Aberdeen, SD  2019-01-03          0      113.0     sunny
...              ...         ...        ...        ...       ...
267175      Yuma, AZ  2019-12-29          1      266.0      rain
267176      Yuma, AZ  2019-12-30          0      230.0      snow
267177      Yuma, AZ  2019-12-30          1      230.0      snow
267178      Yuma, AZ  2019-12-31          0      230.0      snow
267179      Yuma, AZ  2019-12-31          1      281.0      rain

[267180 rows x 5 columns]

In [ ]:
df_weather = pd.get_dummies(df_weather_copy, columns=['cond_desc'])
df_weather = df_weather.groupby(['location', 'date']).aggregate('sum')

In [ ]:
df_weather.reset_index(inplace=True)

In [ ]:
df_flights_pass_fuel['fl_date'] = pd.to_datetime(df_flights_pass_fuel['fl_date'])

In [ ]:
type(df_flights_pass_fuel['fl_date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [ ]:
df_weather['date'] = pd.to_datetime(df_weather['date'])

In [ ]:
df_flights_pass_weather = pd.merge(
    df_flights_pass_fuel,
    df_weather.drop(columns=['day/night', 'condition'], axis=1),
    left_on=['fl_date', 'origin_city_name'],
    right_on=['date', 'location'],
    how='left'
    )

In [ ]:
len(df_flights_pass_weather['origin_city_name'].unique())

303

In [ ]:
df_flights_pass_weather

,fl_date,origin,origin_city_name,dest,taxi_out,taxi_in,arr_delay,distance,month,year,...,mkt_unique_carrier_NK,mkt_unique_carrier_UA,mkt_unique_carrier_WN,mkt_unique_carrier_nan,location,date,cond_desc_cloudy,cond_desc_rain,cond_desc_snow,cond_desc_sunny
0,2019-01-01,BUF,"Buffalo, NY",EWR,16.0,6.0,-26.0,282.0,1,2019,...,0,1,0,0,"Buffalo, NY",2019-01-01,0,0,0,2
1,2019-01-01,BUF,"Buffalo, NY",EWR,16.0,6.0,-26.0,282.0,1,2019,...,0,1,0,0,"Buffalo, NY",2019-01-01,0,0,0,2
2,2019-01-01,BUF,"Buffalo, NY",EWR,16.0,6.0,-26.0,282.0,1,2019,...,0,1,0,0,"Buffalo, NY",2019-01-01,0,0,0,2
3,2019-01-01,BUF,"Buffalo, NY",EWR,16.0,6.0,-26.0,282.0,1,2019,...,0,1,0,0,"Buffalo, NY",2019-01-01,0,0,0,2
4,2019-01-01,BUF,"Buffalo, NY",EWR,16.0,6.0,-26.0,282.0,1,2019,...,0,1,0,0,"Buffalo, NY",2019-01-01,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1652486,2019-07-19,MYR,"Myrtle Beach, SC",ISP,9.0,5.0,-19.0,586.0,7,2019,...,0,0,0,0,"Myrtle Beach, SC",2019-07-19,1,1,0,0
1652487,2019-07-19,MYR,"Myrtle Beach, SC",ISP,9.0,5.0,-19.0,586.0,7,2019,...,0,0,0,0,"Myrtle Beach, SC",2019-07-19,1,1,0,0
1652488,2019-08-13,ATL,"Atlanta, GA",MIA,14.0,59.0,47.0,594.0,8,2019,...,0,0,0,0,"Atlanta, GA",2019-08-13,0,0,0,2
1652489,2019-08-15,ATL,"Atlanta, GA",MIA,19.0,7.0,-8.0,594.0,8,2019,...,0,0,0,0,"Atlanta, GA",2019-08-15,2,0,0,0
1652490,2019-08-30,PWM,"Portland, ME",EWR,6.0,10.0,12.0,284.0,8,2019,...,0,1,0,0,"Portland, ME",2019-08-30,2,0,0,0

In [ ]:
(df_flights_pass_weather.index == range(0, 1652491)).sum()

1652491

### Develop weekend columns to account for date

In [ ]:
df_flights_pass_weather['weekday'] = ((pd.DatetimeIndex(df_flights_pass_weather['date']).dayofweek) // 5 == 1).astype(int)

In [ ]:
df_flights_pass_weather['weekday'].value_counts()

0    1210052
1     442439
Name: weekday, dtype: int64

In [ ]:
print(df_flights_pass_weather.columns.tolist())

['fl_date', 'origin', 'origin_city_name', 'dest', 'taxi_out', 'taxi_in', 'arr_delay', 'distance', 'month', 'year', 'departures', 'seats', 'passengers', 'freight', 'payload', 'air_time', 'airline_id', 'carrier', 'carrier_name', 'total_gallons', 'total_cost', 'class_G', 'class_P', 'class_nan', 'carrier_group_new_2.0', 'carrier_group_new_3.0', 'carrier_group_new_nan', 'carrier_AS', 'carrier_B6', 'carrier_DL', 'carrier_F9', 'carrier_G4', 'carrier_HA', 'carrier_NK', 'carrier_UA', 'carrier_WN', 'mkt_unique_carrier_nan', 'location', 'date', 'weather_cloudy', 'weather_rain', 'weather_snow', 'weather_sunny', 'weekday']

In [ ]:
print(df_flights_pass_weather.dtypes[df_flights_pass_weather.dtypes == 'object'])

Index([], dtype='object')

In [ ]:
# df_flights_pass_weather.drop(columns=['origin', 'origin_city_name', 'dest', 'carrier', 'carrier_name',
#        'location'], inplace=True)

In [ ]:
# df_flights_pass_weather.drop(columns=[
#     'aircraft_group_2.0',
#     'aircraft_group_4.0', 
#     'aircraft_group_5.0', 
#     'aircraft_group_6.0', 
#     'aircraft_group_7.0', 
#     'aircraft_group_8.0', 
#     'aircraft_group_nan', 
#     'aircraft_type_143.0', 
#     'aircraft_type_218.0', 
#     'aircraft_type_416.0', 
#     'aircraft_type_430.0', 
#     'aircraft_type_459.0', 
#     'aircraft_type_461.0', 
#     'aircraft_type_479.0', 
#     'aircraft_type_482.0', 
#     'aircraft_type_556.0', 
#     'aircraft_type_608.0', 
#     'aircraft_type_612.0', 
#     'aircraft_type_614.0', 
#     'aircraft_type_616.0', 
#     'aircraft_type_617.0', 
#     'aircraft_type_619.0', 
#     'aircraft_type_620.0', 
#     'aircraft_type_621.0', 
#     'aircraft_type_622.0', 
#     'aircraft_type_623.0', 
#     'aircraft_type_624.0', 
#     'aircraft_type_625.0', 
#     'aircraft_type_626.0', 
#     'aircraft_type_627.0', 
#     'aircraft_type_628.0', 
#     'aircraft_type_629.0', 
#     'aircraft_type_631.0', 
#     'aircraft_type_634.0', 
#     'aircraft_type_635.0', 
#     'aircraft_type_637.0', 
#     'aircraft_type_638.0', 
#     'aircraft_type_640.0', 
#     'aircraft_type_641.0', 
#     'aircraft_type_647.0', 
#     'aircraft_type_648.0', 
#     'aircraft_type_651.0', 
#     'aircraft_type_655.0', 
#     'aircraft_type_656.0', 
#     'aircraft_type_667.0', 
#     'aircraft_type_671.0', 
#     'aircraft_type_673.0', 
#     'aircraft_type_674.0', 
#     'aircraft_type_675.0', 
#     'aircraft_type_676.0', 
#     'aircraft_type_677.0', 
#     'aircraft_type_678.0', 
#     'aircraft_type_681.0', 
#     'aircraft_type_682.0', 
#     'aircraft_type_683.0', 
#     'aircraft_type_684.0', 
#     'aircraft_type_685.0', 
#     'aircraft_type_687.0', 
#     'aircraft_type_688.0', 
#     'aircraft_type_691.0', 
#     'aircraft_type_692.0', 
#     'aircraft_type_694.0', 
#     'aircraft_type_696.0', 
#     'aircraft_type_698.0', 
#     'aircraft_type_699.0', 
#     'aircraft_type_715.0', 
#     'aircraft_type_721.0', 
#     'aircraft_type_722.0', 
#     'aircraft_type_730.0', 
#     'aircraft_type_732.0', 
#     'aircraft_type_740.0', 
#     'aircraft_type_750.0', 
#     'aircraft_type_770.0', 
#     'aircraft_type_771.0', 
#     'aircraft_type_775.0', 
#     'aircraft_type_817.0', 
#     'aircraft_type_819.0', 
#     'aircraft_type_820.0', 
#     'aircraft_type_821.0', 
#     'aircraft_type_822.0', 
#     'aircraft_type_838.0', 
#     'aircraft_type_839.0', 
#     'aircraft_type_887.0', 
#     'aircraft_type_888.0', 
#     'aircraft_type_889.0', 
#     'aircraft_type_nan', 
#     'aircraft_config_2.0', 
#     'aircraft_config_3.0', 
#     'aircraft_config_nan'],
#                              inplace=True)

In [ ]:
df_flights_pass_weather.rename(columns={
    'departures_performed' : 'departures',
    'mkt_unique_carrier_HA' : 'carrier_HA',
    'mkt_unique_carrier_NK' : 'carrier_NK',
    'mkt_unique_carrier_UA' : 'carrier_UA',
    'mkt_unique_carrier_WN' : 'carrier_WN',
    'cond_desc_cloudy' : 'weather_cloudy',
    'cond_desc_rain' : 'weather_rain',
    'cond_desc_snow' : 'weather_snow',
    'cond_desc_sunny' : 'weather_sunny',
    'mkt_unique_carrier_AS' : 'carrier_AS',
    'mkt_unique_carrier_B6' : 'carrier_B6',
    'mkt_unique_carrier_DL' : 'carrier_DL',
    'mkt_unique_carrier_F9' : 'carrier_F9',
    'mkt_unique_carrier_G4' : 'carrier_G4'
}, inplace=True)

In [ ]:
print(df_flights_pass_weather.columns.to_list())

['fl_date', 'taxi_out', 'taxi_in', 'arr_delay', 'distance', 'month', 'year', 'departures', 'seats', 'passengers', 'freight', 'payload', 'air_time', 'airline_id', 'total_gallons', 'total_cost', 'class_G', 'class_P', 'class_nan', 'carrier_group_new_2.0', 'carrier_group_new_3.0', 'carrier_group_new_nan', 'carrier_AS', 'carrier_B6', 'carrier_DL', 'carrier_F9', 'carrier_G4', 'carrier_HA', 'carrier_NK', 'carrier_UA', 'carrier_WN', 'mkt_unique_carrier_nan', 'date', 'weather_cloudy', 'weather_rain', 'weather_snow', 'weather_sunny', 'weekday']

In [ ]:
# df_flights_pass_weather.drop(columns=[
#     'fl_date', 
#     'year', 
#     'seats', 
#     'airline_id', 
#     'class_G', 
#     'class_P', 
#     'class_nan', 
#     'carrier_AS', 
#     'carrier_B6', 
#     'carrier_DL', 
#     'carrier_F9', 
#     'carrier_G4', 
#     'carrier_HA', 
#     'carrier_NK', 
#     'carrier_UA', 
#     'carrier_WN', 
#     'mkt_unique_carrier_nan'],
#     inplace=True)

In [ ]:
# df_flights_pass_weather.drop(columns=['date'], inplace=True)

In [ ]:
df_flights_pass_weather

,taxi_out,taxi_in,arr_delay,distance,month,departures,passengers,freight,payload,air_time,total_gallons,total_cost,carrier_group_new_2.0,carrier_group_new_3.0,carrier_group_new_nan,weather_cloudy,weather_rain,weather_snow,weather_sunny,weekday
0,16.0,6.0,-26.0,282.0,1,3.0,47.0,0.0,149280.0,151.0,273706863.0,562392438.0,0,1,0,0,0,0,2,0
1,16.0,6.0,-26.0,282.0,1,1.0,74.0,0.0,32870.0,58.0,273706863.0,562392438.0,0,1,0,0,0,0,2,0
2,16.0,6.0,-26.0,282.0,1,1.0,87.0,232.0,29900.0,54.0,273706863.0,562392438.0,0,1,0,0,0,0,2,0
3,16.0,6.0,-26.0,282.0,1,1.0,47.0,0.0,53160.0,46.0,273706863.0,562392438.0,0,1,0,0,0,0,2,0
4,16.0,6.0,-26.0,282.0,1,0.0,0.0,0.0,0.0,0.0,273706863.0,562392438.0,0,1,0,0,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1652486,9.0,5.0,-19.0,586.0,7,7.0,204.0,0.0,91700.0,567.0,157065.0,500082.0,0,0,0,1,1,0,0,0
1652487,9.0,5.0,-19.0,586.0,7,10.0,359.0,0.0,185000.0,810.0,157065.0,500082.0,0,0,0,1,1,0,0,0
1652488,14.0,59.0,47.0,594.0,8,1.0,0.0,650.0,37000.0,85.0,459018.0,1084816.0,0,0,0,0,0,0,2,0
1652489,19.0,7.0,-8.0,594.0,8,1.0,0.0,650.0,37000.0,85.0,459018.0,1084816.0,0,0,0,2,0,0,0,0
1652490,6.0,10.0,12.0,284.0,8,1.0,2.0,0.0,18800.0,65.0,145383.0,414672.0,0,0,0,2,0,0,0,0

In [ ]:
df_flights_pass_weather.to_csv('train_test_data.csv')

In [ ]:
features_list = [feature for feature in df_flights_pass_weather.columns.to_list() if not 'arr_delay']

In [ ]:
df_flights_pass_weather

Empty DataFrame
Columns: [taxi_out, taxi_in, arr_delay, distance, month, departures, seats, passengers, freight, payload, air_time, airline_id, total_gallons, total_cost, class_G, class_P, class_nan, aircraft_group_2.0, aircraft_group_4.0, aircraft_group_5.0, aircraft_group_6.0, aircraft_group_7.0, aircraft_group_8.0, aircraft_group_nan, aircraft_type_143.0, aircraft_type_218.0, aircraft_type_416.0, aircraft_type_430.0, aircraft_type_459.0, aircraft_type_461.0, aircraft_type_479.0, aircraft_type_482.0, aircraft_type_556.0, aircraft_type_608.0, aircraft_type_612.0, aircraft_type_614.0, aircraft_type_616.0, aircraft_type_617.0, aircraft_type_619.0, aircraft_type_620.0, aircraft_type_621.0, aircraft_type_622.0, aircraft_type_623.0, aircraft_type_624.0, aircraft_type_625.0, aircraft_type_626.0, aircraft_type_627.0, aircraft_type_628.0, aircraft_type_629.0, aircraft_type_631.0, aircraft_type_634.0, aircraft_type_635.0, aircraft_type_637.0, aircraft_type_638.0, aircraft_type_640.0, aircraft_type_641.0, aircraft_type_647.0, aircraft_type_648.0, aircraft_type_651.0, aircraft_type_655.0, aircraft_type_656.0, aircraft_type_667.0, aircraft_type_671.0, aircraft_type_673.0, aircraft_type_674.0, aircraft_type_675.0, aircraft_type_676.0, aircraft_type_677.0, aircraft_type_678.0, aircraft_type_681.0, aircraft_type_682.0, aircraft_type_683.0, aircraft_type_684.0, aircraft_type_685.0, aircraft_type_687.0, aircraft_type_688.0, aircraft_type_691.0, aircraft_type_692.0, aircraft_type_694.0, aircraft_type_696.0, aircraft_type_698.0, aircraft_type_699.0, aircraft_type_715.0, aircraft_type_721.0, aircraft_type_722.0, aircraft_type_730.0, aircraft_type_732.0, aircraft_type_740.0, aircraft_type_750.0, aircraft_type_770.0, aircraft_type_771.0, aircraft_type_775.0, aircraft_type_817.0, aircraft_type_819.0, aircraft_type_820.0, aircraft_type_821.0, aircraft_type_822.0, aircraft_type_838.0, aircraft_type_839.0, aircraft_type_887.0, ...]
Index: []

In [ ]:
parameter_candidates = {
    'objective' : ['reg:squarederror'],
    'colsample_bytree' : [0.6],
    'learning_rate' : [0.2, 0.3, 0.4],
        'max_depth' : [3, 4],
        'lambda' : [0.1, 1],
        'alpha' : [0.1, 1],
        'n_estimators' : [3, 4]
}

cv_parameters = {
    'nfold' : 5,
    'num_boost_round' : 6,
    'early_stopping_rounds' : 10
}

In [ ]:
y_pred, cv_results = scr.xgboost_det(
    df=df_flights_pass_weather,
    target='arr_delay',
    params=parameter_candidates,
    cv_params=cv_parameters,
    features=features_list,
    gridsearch=True,
    scaler='minmax',
    )

/opt/homebrew/Caskroom/miniforge/base/envs/lighthouse/lib/python3.8/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

No columns dropped.

Target values: []

Column(s) remaining: Index(['taxi_out', 'taxi_in', 'arr_delay', 'distance', 'month', 'departures',
       'seats', 'passengers', 'freight', 'payload',
       ...
       'carrier_HA', 'carrier_NK', 'carrier_UA', 'carrier_WN', 'condition',
       'weather_cloudy', 'weather_rain', 'weather_snow', 'weather_sunny',
       'weekday'],
      dtype='object', length=124)

ValueError: Found array with 0 sample(s) (shape=(0, 123)) while a minimum of 1 is required by MinMaxScaler.

In [ ]:
cv_results

   train-rmse-mean  train-rmse-std  test-rmse-mean  test-rmse-std
0        44.646682        1.242404       44.892328       4.751500
1        43.568203        0.994601       44.651096       4.932266
2        42.965443        1.242391       44.548790       4.730438
3        42.562669        1.157294       44.360941       4.872215
4        42.057714        0.991851       44.241037       4.922517
5        41.716217        1.034400       44.238607       4.832155

In [ ]:
y_pred

array([ 1.26013842e+01,  5.07120991e+00, -4.71883237e-01,  1.04455917e+02,
       -1.42280941e+01, -1.45246716e+01, -6.74107313e+00, -5.66258192e+00,
        3.27011566e+01, -4.56860209e+00, -1.34129548e+00,  1.41810250e+00,
        2.68281441e+01, -9.09787846e+00,  8.33067894e+00,  3.28774858e+00,
       -9.13692951e+00,  9.10815964e+01, -1.47170043e+00, -1.55744143e+01,
        1.18837938e+01,  4.83523321e+00,  1.98346367e+01, -9.25419033e-01,
       -1.05111294e+01, -1.00624437e+01, -4.60996151e+00, -9.00304031e+00,
        2.92688155e+00,  3.00041842e+00, -4.45204401e+00,  3.95995474e+00,
        4.15616760e+01,  4.33590591e-01,  3.18110967e+00, -1.02698679e+01,
       -2.24194789e+00, -5.73876238e+00,  2.99268866e+00, -1.16821079e+01,
        2.55504322e+00, -8.48759651e+00, -1.47029877e+01, -3.66870117e+00,
       -1.05293703e+01,  4.41503477e+00, -1.41947818e+00,  2.48892593e+01,
       -1.13278618e+01,  9.57273769e+00,  1.94667065e+00,  1.40725574e+01,
        4.14559841e-01,  5.26511955e+01,  1.21405005e+00, -3.55307746e+00,
       -1.32904062e+01, -3.56781149e+00, -8.49997616e+00, -4.15913677e+00,
       -8.95695877e+00, -1.01177750e+01,  7.22221804e+00, -1.09040146e+01,
       -1.65611959e+00,  2.61211987e+01,  1.89236946e+01, -3.45429564e+00,
       -1.06453161e+01,  4.51499519e+01,  8.12889385e+00,  5.34546232e+00,
        6.69556503e+01, -4.14225912e+00,  3.65743217e+01, -9.02880383e+00,
        2.81526232e+00, -2.14693661e+01, -1.10480871e+01,  8.56547546e+00,
        4.73018360e+00, -8.11663723e+00, -9.51000023e+00,  2.45576782e+01,
       -2.83528149e-01, -3.26164931e-01,  3.52310777e+00,  1.60730016e+00,
       -1.20537271e+01, -1.49332628e+01,  1.12297020e+02, -6.10418510e+00,
        3.04826403e+00,  2.59624233e+01,  1.21630316e+01,  5.96935463e+01,
       -1.66187763e+01,  7.69018364e+00,  6.03405266e+01,  7.06114054e+00,
       -6.60559797e+00, -5.74646330e+00,  1.41073380e+01,  2.72073364e+00,
       -1.96667516e+00,  1.69777279e+01, -1.04899406e+01,  1.70258713e+01,
        1.02943907e+01,  1.92492294e+01,  3.88480544e+00, -3.45164633e+00,
        4.39942837e+00, -2.50530577e+00, -1.77902260e+01, -1.61622143e+01,
        5.48213530e+00, -7.01301694e-01, -3.43803334e+00,  7.07241821e+01,
        6.97524452e+00, -2.89294982e+00,  2.10792904e+01,  1.89019477e+00,
       -4.46080875e+00,  1.60852448e+02, -4.94434214e+00, -1.26418581e+01,
       -1.10543442e+01,  7.15045691e+00,  7.37692308e+00, -4.82119799e+00,
        1.52012959e+01, -6.30151987e+00, -3.66852975e+00, -5.01358175e+00,
        1.92339821e+01,  3.32079387e+00, -1.33026752e+01, -1.76755524e+01,
        1.25781565e+01,  4.71352148e+00, -9.33701038e+00, -8.62370205e+00,
       -9.10960484e+00, -1.44522703e+00,  7.60018826e+00, -6.95949984e+00,
       -1.01243629e+01,  2.43426762e+01, -7.86382580e+00, -9.97702789e+00,
        1.23431139e+01,  1.81804681e+00, -1.12472591e+01, -1.37886677e+01,
       -8.03821981e-01, -9.13052559e+00, -2.64325790e+01,  9.81022835e+00,
       -4.46302748e+00, -5.40229416e+00,  1.42498379e+01, -1.06850080e+01,
        1.67856369e+01, -4.63700771e+00,  3.38219986e+01, -4.09569407e+00,
        1.26602101e+00,  5.75824852e+01,  7.49225235e+01,  2.29390793e+01,
       -3.12045193e+00,  3.18649673e+00, -6.24473512e-01, -1.77737370e+01,
        1.17705431e+01,  3.55930748e+01, -2.09492135e+00,  9.31753254e+00,
       -7.41373479e-01, -8.99448299e+00, -1.15838690e+01, -1.48058939e+00,
        2.42932911e+01,  3.85367928e+01,  5.41276789e+00,  6.97830124e+01,
       -2.98040676e+00, -2.12138157e+01,  7.35722733e+01, -5.79144955e+00,
        1.89555588e+01, -4.44009733e+00,  5.56280851e+00, -1.07091007e+01,
       -5.09834385e+00,  2.51015339e+01, -6.57187319e+00, -3.54905629e+00,
       -1.13050251e+01, -1.09907722e+01,  5.91045475e+00, -2.21418929e+00,
       -1.51605062e+01,  5.29700696e-01, -1.29598694e+01,  1.72976646e+01,
        1.03432970e+01, -1.12546864e+01,  8.32277870e+00,  1.22010261e-01,
        1.26512880e+01, -1.24983349e+01,  5.21417761e+00, -4.10151386e+00,
        1.65882969e+01, -3.32449365e+00,  2.22428417e+01,  1.09375548e+00,
       -1.89633636e+01, -1.16432161e+01, -3.51055336e+00, -8.52480602e+00,
        1.50961590e+01, -7.97403932e-01,  5.84045296e+01,  2.41563129e+01,
        2.42422447e+01,  8.92093048e+01, -1.48004436e+01, -8.09079766e-01,
       -1.25343647e+01,  4.48679399e+00, -7.83164930e+00, -8.91060174e-01,
       -1.96479177e+00, -2.54871869e+00,  1.36210508e+01, -3.57233715e+00,
        8.48135567e+00,  1.96050758e+01, -8.26379967e+00,  1.31338096e+00,
       -2.07644653e+01,  5.57286568e+01, -6.65378380e+00, -5.84106350e+00,
        1.48811188e+01, -6.75907707e+00,  3.68734407e+00,  2.65302753e+01,
       -1.46795464e+01, -9.24737072e+00,  1.98323917e+01,  2.37411766e+01,
       -3.91387296e+00, -2.29930305e+01,  1.28645337e+00,  1.64628391e+01,
       -8.83519554e+00,  8.97990644e-01,  6.54075480e+00, -7.22590494e+00,
       -1.15468435e+01, -1.90721359e+01,  4.80789413e+01,  1.35858107e+01,
       -1.15840054e+01, -3.68708725e+01, -4.26832485e+00, -2.14994602e+01,
        9.25055122e+00,  1.09000740e+01, -1.45270281e+01,  4.87002897e+00,
        6.02673471e-01,  2.12422714e+01,  2.42102265e+00,  8.41703033e+00,
        4.74809933e+00,  6.00753736e+00, -2.85611677e+00, -8.28175545e+00,
       -4.97772169e+00, -2.29260902e+01, -3.48444819e+00, -9.40571880e+00,
       -2.19617867e+00,  3.04143734e+01, -1.42255077e+01, -6.87854767e+00,
        6.67195129e+00,  7.25213547e+01,  1.69724751e+01, -1.28812981e+00,
        2.32541046e+01, -1.74053879e+01, -4.50836086e+00, -4.47692728e+00,
       -4.59554005e+00,  2.45710468e+01,  4.06069088e+00,  4.72550583e+00,
       -6.42879248e+00,  7.09059715e+00,  3.31066360e+01, -5.21472883e+00,
       -1.14552224e+00, -9.49981749e-01, -1.14366226e+01, -2.56351686e+00,
        2.94958954e+01, -9.56629276e+00,  1.35011425e+01, -1.65145073e+01,
        1.50035429e+00,  1.75480199e+00,  1.01146650e+01,  2.61792526e+01,
       -7.56275320e+00, -6.49130964e+00, -1.15686092e+01, -5.48686552e+00,
       -4.23109055e+00,  7.23087192e-01, -4.86340666e+00,  4.36367798e+01,
        1.11157608e+00, -1.43786497e+01,  2.03597660e+01,  1.27183609e+01,
        2.33436794e+01, -5.95229769e+00,  3.53393364e+00,  4.66819668e+00,
       -1.30154724e+01,  1.64070487e+00,  3.83751440e+00,  1.38391266e+01,
        2.99593048e+01,  1.15850861e+02, -1.67745438e+01,  2.14684010e+01,
        9.86602688e+00, -9.05760670e+00, -5.96786618e-01, -1.37845745e+01,
        6.37930298e+01, -1.47204733e+01, -7.55838096e-01, -6.43116283e+00,
        5.79367876e+00, -1.43068600e+01, -1.49779940e+01,  5.35168419e+01,
        3.93545175e+00,  4.12224159e+01,  3.66250229e+00, -1.31026876e+00,
        3.85764599e-01,  1.41130524e+01,  5.38544798e+00,  2.97645044e+00,
        2.07416677e+00,  6.42957382e+01,  1.74382725e+01, -1.75629950e+00,
       -4.46703148e+00, -6.52762890e+00, -2.43124142e+01, -1.31343737e+01,
       -4.27049875e+00, -5.67863417e+00, -1.18338213e+01,  1.98331642e+01,
        8.24119949e+00, -1.26926985e+01, -6.21307659e+00,  8.62548447e+00,
       -7.62825060e+00, -1.56947911e+00, -6.45490265e+00,  4.12929573e+01,
        8.62514228e-03, -9.10667360e-01, -4.41107988e+00,  8.96354961e+00,
        8.74912186e+01, -1.25011740e+01,  6.50726013e+01,  3.65239258e+01,
        3.12028944e-01,  1.09973307e+01, -1.77328091e+01, -1.80708742e+00,
        5.62773275e+00,  1.36080179e+01, -5.52423716e+00,  1.05074471e+02,
       -1.21376972e+01, -1.28443079e+01, -2.25522671e+01,  7.09493017e+00,
       -3.48645067e+00, -1.09749794e+01,  1.76147213e+01, -1.20665865e+01,
        1.06518784e+02, -6.67964697e+00, -2.86661077e+00,  1.26426191e+01,
        2.02773132e+01,  2.42560310e+01,  1.97187824e+01, -1.31653633e+01,
       -1.08728733e+01, -8.90561485e+00,  7.64837875e+01, -3.33946133e+00,
        1.41720409e+01, -1.92368412e+01,  3.35591278e+01, -8.48153973e+00,
        2.84442024e+01,  3.54753990e+01,  4.18975372e+02,  1.93012562e+01,
       -2.04266529e+01,  7.57057648e+01, -1.36973619e+01,  1.20784893e+01,
       -1.46226587e+01, -5.88684511e+00,  1.45448656e+01,  6.00299025e+00,
       -1.31039977e+00,  2.65004444e+01, -9.05257225e+00, -6.09906435e+00,
       -3.75354242e+00,  2.78859825e+01, -1.97009048e+01,  2.31395950e+01,
        3.94643307e+00,  3.27002220e+01, -8.97605896e+00, -1.78113804e+01,
       -4.29519987e+00,  3.09682961e+01,  8.22882309e+01, -1.38291264e+01,
        1.41202002e+01, -3.72965717e+00, -8.72594357e+00,  9.39205322e+01,
       -9.87697220e+00,  1.07295494e+01, -7.96270704e+00,  2.85436592e+01,
        1.17643290e+01,  9.58510971e+00, -1.48392105e+01, -1.31813374e+01,
        1.74217396e+01, -1.47813940e+01, -4.52019119e+00,  1.37400101e+02,
       -8.84952164e+00, -6.94055223e+00, -5.63731241e+00, -2.99305105e+00,
       -5.09974146e+00, -9.58119869e+00, -7.25392151e+00,  1.04348049e+01,
        1.52391548e+01,  8.28423214e+00, -5.04263115e+00, -1.28734946e+00,
       -6.54677391e+00, -3.59729242e+00, -3.92482519e+00,  8.34665298e+00,
       -2.94076681e+00, -1.15937977e+01,  2.14177208e+01, -6.68582678e-01,
       -2.43554091e+00,  8.85568142e+00,  2.45016537e+01,  6.94868469e+01,
       -1.09427824e+01,  4.91922557e-01, -9.46549034e+00, -3.65818143e+00,
       -2.17305412e+01, -3.55638933e+00,  7.73386917e+01,  4.08533764e+00,
        5.92206764e+00,  5.54534454e+01,  7.26848459e+00,  1.29696026e-01,
       -1.16088028e+01,  7.95066681e+01,  6.06966448e+00, -9.60299301e+00,
       -1.96450448e+00,  8.59625816e+00, -1.65920734e+01,  2.09226189e+01,
       -6.48450994e+00, -2.91184044e+00, -3.75300837e+00, -7.23288178e-01,
       -1.38209476e+01, -7.79883718e+00,  2.68928566e+01, -1.17895823e+01,
       -3.63630724e+00,  6.38687611e+00, -3.74472952e+00, -7.27941227e+00,
       -1.38689303e+00,  2.67171535e+01, -1.33881845e+01, -1.71519041e+00,
       -9.33718395e+00,  4.04344673e+01, -2.79566550e+00, -6.31333399e+00,
       -5.43129635e+00, -6.06252575e+00,  9.07420883e+01, -1.25479717e+01,
        3.76195908e+01, -1.65777912e+01,  6.01015434e+01,  1.83724251e+01,
        3.39294815e+00, -1.21992674e+01, -2.36382198e+01,  2.36973248e+01,
        1.61348133e+01, -1.56396282e+00,  1.23521614e+01,  4.13814545e+00,
        5.73036671e-02,  1.10328812e+02,  6.92980337e+00,  1.95599782e+00,
       -8.98271751e+00, -1.09594288e+01,  2.13014483e+00, -6.40031099e+00,
       -3.61142278e-01, -6.62270641e+00,  2.66747856e+00,  4.42482173e-01,
       -7.49787140e+00, -2.72240963e+01, -4.55824232e+00, -6.12433672e+00,
        7.43475056e+00,  4.66377907e+01,  5.42497301e+00,  2.33342514e+01,
       -9.96492577e+00, -6.15869808e+00, -9.49204326e-01,  5.96217775e+00,
        2.27029057e+01,  9.61208649e+01,  1.76407757e+01, -5.98680687e+00,
        2.85898132e+01,  3.96442146e+01,  4.59594488e-01,  1.12805014e+01,
       -1.10182047e+01, -1.85675354e+01,  3.31680870e+00, -1.16155033e+01,
        4.00147080e-01,  1.58022280e+01,  6.42092657e+00, -6.41824579e+00,
       -1.19906378e+01,  5.92361164e+00,  5.96254349e+01,  6.23096466e+00,
       -7.30737066e+00,  2.60111785e+00,  7.77241440e+01,  2.19984074e+01,
       -8.68140030e+00, -2.41361027e+01, -1.10753763e+00,  2.31926250e+01,
       -4.16651249e+00, -4.64898205e+00, -1.50742121e+01,  3.08964705e+00,
        6.72750616e+00,  1.11221571e+01, -9.54701042e+00, -7.89370394e+00,
        2.24812016e-01, -9.84366322e+00,  1.53262055e+00, -2.39393640e+00,
        5.73186350e+00,  3.66490889e+00, -7.22622442e+00, -7.01473093e+00,
       -6.24679327e-01,  5.31284094e+00,  1.07436581e+01, -1.32750921e+01,
       -8.35284901e+00,  1.08742046e+01, -2.18380451e+00, -7.41356325e+00,
       -3.77578759e+00, -3.57529497e+00,  1.72065163e+01, -1.05545845e+01,
        9.55770016e+00,  3.82749605e+00,  4.81522751e+01, -6.88002300e+00,
        2.66702986e+00,  1.37760007e+00,  1.20629263e+00,  1.07118530e+01,
       -5.12775898e+00,  4.16449022e+00,  8.34679985e+00, -7.04063368e+00,
       -1.03205528e+01, -8.84581375e+00, -6.29477072e+00,  2.53147964e+01,
       -5.27200747e+00,  5.95435715e+01, -1.87221680e+01,  2.16764812e+01,
       -8.07518959e+00,  1.94551325e+00,  4.06806326e+00,  7.43917465e+00,
        1.07060728e+01,  3.86504211e+01,  1.32989931e+00,  1.52541656e+01,
        3.80252724e+01,  1.38499899e+01, -1.41519146e+01,  1.01917934e+00,
       -1.12184982e+01,  6.31784391e+00,  9.98187733e+00,  2.50362034e+01,
       -3.71884370e+00,  3.23174210e+01,  9.03756809e+00, -5.99347734e+00,
       -1.41118631e+01, -7.85863400e+00, -6.67765427e+00,  1.19255676e+01,
        1.46266098e+01, -1.97260437e+01,  5.96835041e+00,  7.37198019e+00,
       -1.42922392e+01, -2.63252831e+01,  2.13853760e+01, -1.72279339e+01,
       -8.55033219e-01, -3.89301777e+00,  7.67383194e+00, -1.25784655e+01,
        1.61849346e+01,  2.86608372e+01,  7.85466480e+00, -3.51523709e+00,
       -1.13820353e+01, -1.72604084e+01,  1.70887220e+00,  2.11092973e+00,
       -7.87493277e+00, -4.81045246e+00,  5.59035826e+00, -1.21592355e+00,
       -7.07209206e+00,  1.38976777e+00,  2.15601406e+01, -1.04289751e+01,
       -1.49041071e+01,  1.51152325e+01,  8.22430325e+00,  5.65874214e+01,
        1.68080578e+01,  3.92965851e+01, -1.26978693e+01,  1.86809673e+01,
       -3.87411046e+00,  3.57450104e+01,  8.12898636e+01, -6.69316053e+00,
       -1.06134405e+01, -2.96668673e+00,  2.24638500e+01, -3.89415121e+00,
       -4.87882519e+00,  1.03125787e+00,  3.30819774e+00, -9.63751221e+00,
       -1.75356827e+01, -9.67869568e+00,  3.09085732e+01, -1.32176809e+01,
        1.08983898e+01,  1.14577413e+00, -7.36072826e+00,  6.47597046e+01,
        3.04697475e+01,  8.76183319e+00, -8.15909564e-01, -1.39594231e+01,
       -8.44311619e+00, -1.63689537e+01,  2.15493793e+01, -1.69720821e+01,
       -8.48564529e+00, -2.11073518e+00, -1.74254730e-01,  1.04645109e+01,
       -1.09606962e+01,  9.22195816e+00, -3.62936854e+00,  8.64780521e+00,
       -2.28237653e+00,  2.91835613e+01,  9.35527611e+00, -8.22923243e-01,
       -2.40971112e+00, -6.67091513e+00, -1.56922092e+01,  3.80436668e+01,
       -4.30350924e+00, -1.68631611e+01,  6.58026505e+00,  9.42224789e+00,
        4.17837524e+01, -1.19993865e+00, -1.55728750e+01, -7.48051405e+00,
        1.12295738e+02,  8.51925507e+01, -3.66610193e+00, -5.35246134e+00,
       -3.71729970e+00,  4.74928617e-02,  2.14835777e+01,  3.84129906e+00,
       -8.62926292e+00, -7.06732559e+00,  1.61190891e+01, -7.50355005e+00,
        1.95218830e+01,  6.92286444e+00, -1.37470512e+01, -5.93850803e+00,
        1.73699474e+00, -5.60055161e+00,  1.38560610e+01, -5.49211645e+00,
        1.95981865e+01,  4.35843620e+01,  5.52725267e+00, -2.03011646e+01,
        9.18443084e-01,  8.44025421e+00, -3.48925471e+00, -1.81221807e+00,
       -6.84653282e+00, -1.01078262e+01,  1.47907782e+01,  6.18861437e+00,
       -4.37312555e+00, -1.55466051e+01,  2.71454573e-01, -1.44349909e+01,
       -7.53177881e+00,  8.50027561e+00,  2.50124710e+02,  9.83895645e+01,
       -2.81083927e+01, -7.08387184e+00, -8.08112049e+00,  2.08082714e+01,
        1.99861372e+00, -1.64855747e+01, -1.24064846e+01,  4.14006138e+00,
       -1.09815693e+01,  7.82177830e+00, -5.31274700e+00, -1.07612648e+01,
       -1.53879366e+01, -8.78284645e+00, -6.02152205e+00,  6.76075592e+01,
       -7.08580911e-01, -8.73547173e+00,  1.77351952e+00, -1.47855349e+01,
        1.12491974e+02,  4.85599136e+00,  4.04918137e+01,  4.97453213e+00,
       -6.63256216e+00, -1.30730314e+01, -2.25432348e+00,  5.39299927e+01,
        1.44530554e+01, -8.69723415e+00, -1.32631464e+01, -2.48442535e+01,
       -1.73861980e+01,  4.78202295e+00,  6.27299423e+01, -3.00813007e+00,
       -1.49184961e+01, -2.42806568e+01,  9.38850117e+00,  4.73771858e+01,
       -4.83723879e+00, -2.24723315e+00, -2.42773938e+00, -6.01776457e+00,
        1.44484131e+02,  9.03396416e+00,  6.18755865e+00, -6.86368370e+00,
       -1.38572969e+01, -1.51225829e+00, -7.57753086e+00,  1.60098610e+01,
        8.56648540e+00,  7.84451056e+00,  2.15806484e+01,  2.51829834e+01,
        3.32346249e+00,  1.21456804e+01,  3.29304123e+01,  8.01366501e+01,
        1.79914689e+00, -2.61994767e+00,  1.01000366e+02,  2.83141937e+01,
       -1.55373487e+01, -1.20036154e+01, -8.76106739e+00, -1.45166950e+01,
        6.68262329e+01, -9.78611851e+00, -1.21039448e+01, -1.34551020e+01,
       -9.68353844e+00, -3.00249023e+01, -1.09195986e+01,  6.62704515e+00,
        2.06821861e+01,  1.30310535e+01,  1.40193396e+01, -1.10415440e+01,
        1.91248199e+02, -6.79062176e+00, -6.01029539e+00, -1.34035263e+01,
       -4.91434288e+00,  1.88286724e+01,  1.42011261e+00, -1.38632929e+00,
       -3.92623901e+00, -1.22196207e+01,  3.15848303e+00,  1.35814867e+01,
       -1.37228069e+01, -6.74810076e+00, -1.17396431e+01,  1.79804265e+00,
       -8.75932503e+00,  1.16932166e+00, -6.72214031e+00, -1.48073845e+01,
        1.86017609e+01, -6.23864508e+00,  1.02165970e+02,  1.35623646e+01,
        8.47181625e+01, -1.09731493e+01,  5.33691740e+00, -5.63968658e+00,
        2.75485058e+01, -3.30769920e+01, -5.42489100e+00, -9.96273994e+00,
        6.60405159e+00, -7.44475782e-01, -2.15617275e+01,  1.54876244e+00,
       -5.80682135e+00,  1.24809618e+01,  6.43121624e+00,  6.04885399e-01,
        3.91097565e+01, -1.05007343e+01, -1.31351500e+01, -1.91321909e+00,
       -7.28607368e+00,  8.00955892e-01, -4.67432499e+00,  1.17965326e+01,
       -1.00763159e+01,  4.79900322e+01, -7.84764910e+00,  2.28783092e+01,
       -6.61158466e+00, -2.54066753e+00, -1.10323191e+00, -3.14235139e+00,
        7.47726898e+01, -1.19582510e+01, -3.82840466e+00, -8.85274410e+00,
        9.17507267e+00,  3.81013527e+01, -5.20240545e-01,  8.36061001e+00,
        1.03887997e+01,  3.48459697e+00, -4.67829370e+00,  1.30751324e+01,
        1.33225498e+01,  1.77667561e+01,  1.10171056e+00,  2.29924431e+01,
       -5.10135770e-01], dtype=float32)

##### Best parameters:
```python
{'alpha': 0,
'colsample_bytree': 0.6,
'lambda': 0,
'learning_rate': 0.1,
'max_depth': 3,
'n_estimators': 6,
'objective': 'reg:squarederror'}
```

### `flights`

As a matter of timing, dates are important. Also gather different times during the day.
- **`fl_date`**: Flight Date (yyyy-mm-dd). Analyse monthly changes. HOT-ENCODE months, holidays.
- **`unique_carrier`**: Unique Marketing Carrier Code. <-- analise for trends first.
- **`branded_code_share`**: Reporting Carrier Operated or Branded Code Share Partners. HOT-ENCODE binary, code-shared vs not.
- **`carrier_fl_num`**: Flight Number, monthly count may reveal flight density.
- **`origin`**: Origin Airport. Less than dest. Check for null values.
- **`dest`**: Destination Airport
- **`air_time`**: Airborne Time (minutes)
- **`arr_time`**: Actual Arrival Time (local time: hhmm). Might reveal docking delays due to time of day.
- **`dep_time`**: Actual Departure Time (local time: hhmm). Might reveal passenger delays due to time of day.
- **`distance`**: Distance between airports (miles)
- **`taxi_out`**: from wheels down to gate, in Minutes
- **`taxi_in`**: from gate to wheels off, in Minutes
- **`diverted`**: Diverted Flight Indicator (1=Yes)

### `passengers`

- **`departures_performed`**: Departures Performed
- **`passengers`**: Non-Stop Segment Passengers Transported
- **`payload`**: Available Payload (pounds)
- **`distance_group`**: Distance Intervals, every 500 Miles, for Flight Segment
- **`class`**: Service Class

### ```fuel_consumption```

### `flights_test`

In [ ]:
# groupby to aggregrate delay based on tail_num
tail_delay = df_flights[['tail_num', 'arr_delay']].groupby('tail_num').aggregate('mean')
tail_delay.reset_index(inplace=True)

# merge
df_flights = pd.merge(df_flights, tail_delay, how='left', on='tail_num')

# check arr_delay based on tail_num
df_flights[df_flights[['tail_num', 'arr_delay_y']]['tail_num'] == 'N798SW'][['tail_num', 'arr_delay_y']]

In [ ]:
df_flights['dep_time'][0]

545.0

In [ ]:
df_flights.columns.to_list()

['fl_date',
 'mkt_unique_carrier',
 'branded_code_share',
 'mkt_carrier',
 'mkt_carrier_fl_num',
 'op_unique_carrier',
 'tail_num',
 'op_carrier_fl_num',
 'origin_airport_id',
 'origin',
 'origin_city_name',
 'dest_airport_id',
 'dest',
 'dest_city_name',
 'crs_dep_time',
 'dep_time',
 'dep_delay',
 'taxi_out',
 'wheels_off',
 'wheels_on',
 'taxi_in',
 'crs_arr_time',
 'arr_time',
 'arr_delay_x',
 'cancelled',
 'cancellation_code',
 'diverted',
 'dup',
 'crs_elapsed_time',
 'actual_elapsed_time',
 'air_time',
 'flights',
 'distance',
 'carrier_delay',
 'weather_delay',
 'nas_delay',
 'security_delay',
 'late_aircraft_delay',
 'first_dep_time',
 'total_add_gtime',
 'longest_add_gtime',
 'no_name',
 'arr_delay_y']