In [1]:
import numpy as np
import pandas as pd
from psycopg2 import sql
import assets.script as script
from sklearn.linear_model import LinearRegression
from sklearn.naive_bayes import GaussianNB

### Example `script.py` Use

In [2]:
x = [np.random.randn(10) for i in range(100)]
y = np.random.randint(1, 100, 100)

In [3]:
df = pd.DataFrame(x, columns=['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine'])
df = df.join(pd.Series(y, name='target'))

In [4]:
X_train, X_test, y_train, y_test = script.split_data(df, target='target')

No columns dropped.

Target values: [94 34 51 88 12 37 83 82 86 62 15 72  5 85 99 52  5 87 40 51 59 83 21 66
 12 64 24 48 97 98 76 94 34 23 47  2 50 96  8  2 41 85 14 81 62 40 43 67
  7 98 21 42 81 27 78 65 42 58 29 43 59 96 89 11 36 86 52 53 81 86 30 28
 60 14 58 54 42 89 89 92 99 34 23 71 87 38  7 70 97 32 74 18 72 40 42  2
 76 31 16  6]

Column(s) remaining: Index(['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight',
       'nine', 'target'],
      dtype='object')

Data is unscaled.
training sample size:  80
testing sample size:  20

In [5]:
y_pred, y_prob = script.get_predictions(GaussianNB(), X_train, y_train, X_test)

In [6]:
query = """
SELECT * FROM flights
LIMIT 200
"""

script.make_csv(query, 'test_lee.csv')

creating connection...
running query...
writing file...
done

## Midterm Project

#### Goals

The goal is to `predict arrival delays` of commercial flights. Often, there isn't much airlines can do to avoid the delays, which are often costly and . It is critical for airlines to estimate flight delays as accurate as possible because the results can be applied to improvements in customer satisfaction and income of airline agencies.

#### SQL Query

In [7]:
table_name = 'flights'
limit = (10000, )

query = sql.SQL(
    "SELECT DISTINCT fl_date \
        FROM {table} \
        WHERE fl_date IS NOT NULL \
        ORDER BY fl_date \
        LIMIT %s;").format(
        table = sql.Identifier(table_name),
    )
    
filename = 'flights_unique_fl_dates_10k_sample.csv'

In [8]:
script.read_tables()

0             flights
1        flights_test
2    fuel_comsumption
3         pass_sample
4          passengers
5              sample
6          test_table
dtype: object

In [11]:
df_flights = script.make_csv(query, filename, limit, overwrite=False)

File exists. Returning DataFrame...

In [12]:
df_flights

        fl_date
0    2018-01-01
1    2018-01-02
2    2018-01-03
3    2018-01-04
4    2018-01-05
..          ...
725  2019-12-27
726  2019-12-28
727  2019-12-29
728  2019-12-30
729  2019-12-31

[730 rows x 1 columns]